.footer {
    position: relative;
    //background-color: rgba(136, 164, 0, 1);
    //background-color: rgba(0, 0, 0, 1);
    //background-color: #1D1C1A;
    background-color:  rgba(0, 0, 0, 0.2);
    //border-radius: 0 0 10vw 10vw;
    z-index: -1;
    margin-bottom: -10vw;


}