html {
    font-size: 200%;
    box-sizing: border-box; //The width and height properties (and min/max properties) includes content, padding and border
   
    background-image: url(/resources/images/background.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    
    color:#FDFEFF;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    //font-size: $font-sm;
    font-weight: 300;
    //color: $grayishBlue;
    line-height: 1.5;
}

.intro{
    font-weight: 300;
}