.intro {
    height: 100vh;
    font-size: 1.5rem;
    font-weight:400;
    padding: 0 2rem 0 2rem;
    background-color:  rgba(29, 28, 26, 0.96);

    & .flex-container {
        height: inherit;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    & .intro__hi {
        order: 2;
        text-align: center;

        & .highlighted {
            color: #6db33f;
        }
    }

    & .intro__image {
        order: 1;

        & img {
            display: block;
            height: 6.25rem;
            width: auto;
            border-radius: 6.25rem;
        }
    }

    & .socials-wrapper {
        order: 3;
    }

    & .intro__socials {
        margin-top: 3rem;
        margin-bottom: 0.625rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        //order: 3;

        & > a:not(:last-child) {
            margin-right: 0.625rem;
        }

        & i {
            color: #eeeeee;
            transition: color 300ms ease-in-out;
            
            &:hover {
                color: #6db33f;
            }
        }
    }

    & .button__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    & .intro__btn {
        background-color: aqua;
    }
}




