.intro {
    height: 100vh;
    font-size: 1.5rem;
    font-weight:400;
    padding: 0 2rem 0 2rem;
    background-color:  rgba(29, 28, 26, 1);

    & .flex-container {
        height: inherit;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    & .intro__hi {
        order: 2;
        text-align: center;

        & .highlighted {
            color: #6db33f;
        }
    }

    & .intro__image {
        order: 1;

        & img {
            display: block;
            height: 100px;
            width: auto;
            border-radius: 100px;
        }
    }
}




