.intro {
    height: 100vh;
    font-size: 3rem;
    font-weight: 200;
    padding: 0 2rem 0 2rem;
    background-color:  rgba(29, 28, 26, 1);

    & .flex-container {
        height: inherit;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__details {
        order: 1;
    }

    /*&__picture {
        flex: 1;
        order: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgb(168, 168, 168);
    
        & img {
            max-width: 15rem;
            height: auto;
            border-radius: 15rem;
        }
    }*/
}




