html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #1D1C1A;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 1.3;
  letter-spacing: 0.1rem;
  overflow-x: hidden;
  color: #eeeeee;
}

section.divider {
  height: 400px;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.btn {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
  border: none;
  color: #6db33f;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 0.9rem;
  padding: 0.4375rem 0.4375rem;
  background-color: transparent;
  border: 1px solid #6db33f;
  -webkit-transition: color 300ms ease-in-out, background-color 300ms ease-in-out;
  transition: color 300ms ease-in-out, background-color 300ms ease-in-out;
}

@media (min-width: 40em) {
  .btn {
    font-size: 1.15rem;
  }
}

@media (min-width: 64em) {
  .btn {
    padding: 0.44rem 0.875rem;
    font-size: 1.4rem;
  }
}

.btn:hover {
  color: #eeeeee;
  background-color: #6db33f;
}

.intro {
  height: 100vh;
  /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  /*--vh is suitable for mobile users with address bars. Declared by javascript window.innerHeight, that represents the browser's height*/
  font-weight: 400;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 0 1rem 0 1rem;
  font-size: 1.5rem;
}

@media (min-width: 64em) {
  .intro {
    font-size: 2.625rem;
  }
}

@media (min-width: 40em) {
  .intro {
    font-size: 2.2rem;
  }
}

.intro .row2 br {
  display: static;
}

@media (min-width: 64em) {
  .intro .row2 br {
    display: none;
  }
}

@media (min-width: 40em) {
  .intro .row2 br {
    display: none;
  }
}

.intro .flex-container {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro .intro__hi {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  text-align: center;
}

.intro .intro__hi .highlighted {
  color: #6db33f;
}

.intro .intro__image {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin-bottom: 0.41rem;
}

.intro .intro__image img {
  display: block;
  width: auto;
  height: 100px;
  border-radius: 100px;
}

@media (min-width: 40em) {
  .intro .intro__image img {
    height: 9rem;
    border-radius: 9rem;
  }
}

@media (min-width: 64em) {
  .intro .intro__image img {
    height: 10.9375rem;
    border-radius: 10.9375rem;
  }
}

.intro .socials-wrapper {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.intro .intro__socials {
  margin-top: 3rem;
  margin-bottom: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro .intro__socials > a:not(:last-child) {
  margin-right: 1.09375rem;
}

.intro .intro__socials i {
  color: #eeeeee;
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
  font-size: 1.125rem;
}

@media (min-width: 40em) {
  .intro .intro__socials i {
    font-size: 1.5rem;
  }
}

@media (min-width: 64em) {
  .intro .intro__socials i {
    font-size: 1.75rem;
  }
}

.intro .intro__socials i:hover {
  color: #6db33f;
}

.intro .button__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.polygon {
  background-color: #1D1C1A;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  position: relative;
  clip-path: polygon(0% 0%, 0% 100%, 0% calc(100% - 5vw), 10% calc(100% - 2vw), 20% calc(100% - 4vw), 30% calc(100% - 1vw), 40% calc(100% - 7vw), 50% calc(100% - 5vw), 60% calc(100% - 2vw), 70% calc(100% - 6vw), 80% calc(100% - 4vw), 90% calc(100% - 6vw), 100% calc(100% - 5vw), 100% 0%);
  -webkit-clip-path: polygon(0% 0%, 0% 100%, 0% calc(100% - 5vw), 10% calc(100% - 2vw), 20% calc(100% - 4vw), 30% calc(100% - 1vw), 40% calc(100% - 7vw), 50% calc(100% - 5vw), 60% calc(100% - 2vw), 70% calc(100% - 6vw), 80% calc(100% - 4vw), 90% calc(100% - 6vw), 100% calc(100% - 5vw), 100% 0%);
  margin-bottom: -7vw;
}

.polygon::after {
  background-color: rgba(65, 107, 37, 0.6);
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: polygon(0% 0%, 0% 100%, 0% calc(100% - 2vw), 8% calc(100% - 6vw), 28% calc(100% - 4vw), 38% calc(100% - 3vw), 48% calc(100% - 7vw), 58% calc(100% - 4vw), 68% calc(100% - 5vw), 78% calc(100% - 6vw), 88% calc(100% - 4vw), 98% calc(100% - 2vw), 100% calc(100% - 4vw), 100% 0%);
  -webkit-clip-path: polygon(0% 0%, 0% 100%, 0% calc(100% - 2vw), 8% calc(100% - 6vw), 28% calc(100% - 4vw), 38% calc(100% - 3vw), 48% calc(100% - 7vw), 58% calc(100% - 4vw), 68% calc(100% - 5vw), 78% calc(100% - 6vw), 88% calc(100% - 4vw), 98% calc(100% - 2vw), 100% calc(100% - 4vw), 100% 0%);
  bottom: calc(-100% + 12vw);
  -webkit-transform: scale(-1, -1);
          transform: scale(-1, -1);
}

.polygon::before {
  background-color: rgba(50, 73, 32, 0.4);
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: polygon(0% 0%, 0% 100%, 0% calc(100% - 2vw), 13% calc(100% - 6vw), 23% calc(100% - 4vw), 33% calc(100% - 3vw), 43% calc(100% - 7vw), 53% calc(100% - 4vw), 63% calc(100% - 5vw), 73% calc(100% - 6vw), 83% calc(100% - 4vw), 93% calc(100% - 2vw), 100% calc(100% - 4vw), 100% 0%);
  -webkit-clip-path: polygon(0% 0%, 0% 100%, 0% calc(100% - 2vw), 13% calc(100% - 6vw), 23% calc(100% - 4vw), 33% calc(100% - 3vw), 43% calc(100% - 7vw), 53% calc(100% - 4vw), 63% calc(100% - 5vw), 73% calc(100% - 6vw), 83% calc(100% - 4vw), 93% calc(100% - 2vw), 100% calc(100% - 4vw), 100% 0%);
  bottom: calc(-100% + 12vw);
  -webkit-transform: scale(1, -1);
          transform: scale(1, -1);
}

.footer {
  background-color: rgba(0, 0, 0, 0.2);
  z-index: -1;
  margin-bottom: -10vw;
}

.footer .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
}

.footer #name, .footer #email, .footer #message {
  display: inline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #1d1c1a;
  border: none;
  width: 100%;
  margin-bottom: 10px;
  padding: 7px 10px;
  font-size: 1.15rem;
  font-family: inherit;
  font-weight: 300;
  caret-color: white;
  color: white;
}

.footer #message {
  height: 150px;
  resize: both;
}

.footer #submit {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 0.2rem 2rem;
}
/*# sourceMappingURL=style.css.map */